<% include partials/header %>

<h1>This is the campgorunds page! </h1>

<a href='/campgrounds/new'>Add new Campground</a>

<% campgrounds.forEach(campground => { %>
    <div>
        <h4> <%= campground.name %> </h4>
        <img src="<%= campground.image %>" width=25% height=25% >
    </div>
<% });   %>

<% include partials/footer %>